qiuren/credentials.json
qiuren/token.json
qiuren/__pycache__/**
qiuren/migrations/__pycache__/__init__.cpython-313.pyc
credentials.json
token.json
project/__pycache__/**
bpmatch/__pycache__/**
/bpmatch/migrations/**
/.idea/**
/ss/**
.idea/
*.iml
__pycache__/
*.pyc
.DS_Store
/customer_contract/**
/.$ER.drawio.bkp
/credentials/**